html,body{height: 100%;}body{display: flex;flex-direction:column;align-items: center;justify-content:center;width:100%;background:#FCEDBF;}

svg:not(:root) {
  overflow: visible;
}

svg {
  height: auto;
  max-width: 100%;
  width: 200px;
}